<div [formGroup]="formNieto1" class="row">
  <div class="col-12">
    Hijo 2
  </div>
  <div class="col-2">
    <label for="apellido">Apellido</label>
  </div>
  <div class="col-10">
    <input type="text" id="apellido" name="apellido" formControlName="apellido">
  </div>
  <div class="col-2">
    <label for="direccion">Direccion</label>
  </div>
  <div class="col-10">
    <input type="text" id="direccion" name="direccion" formControlName="direccion">
  </div>
  <div class="col-12">
    <button [disabled]="!formNieto1.valid">Guardar</button>
  </div>
</div>
