<div [formGroup]="formHijo2" class="row">
  <div class="col-12">
    Hijo 2
  </div>
  <div class="col-2">
    <label for="name">Name</label>
  </div>
  <div class="col-10">
    <input type="text" id="name" name="name" formControlName="name">
  </div>
  <div class="col-2">
    <label for="age">Age</label>
  </div>
  <div class="col-10">
    <input type="text" id="age" name="age" formControlName="age">
  </div>
  <div class="col-2">
    <label for="favoriteSport">Favorite Sport</label>
  </div>
  <div class="col-10">
    <input type="text" id="favoriteSport" name="favoriteSport" formControlName="favoriteSport">
  </div>
  <div class="col-2">
    <label for="profession">Profession</label>
  </div>
  <div class="col-10">
    <input type="text" id="profession" name="profession" formControlName="profession">
  </div>
</div>
